{% extends 'base.html.twig' %} {% block title %}Connexion - Super Site{%
endblock %} {% block body %} {% include 'layout/header.html.twig' %}

<main class="grid grid-cols-3 gap-2 p-2">
  <article
    class="flex flex-col justify-between border-2 border-cyan-300 p-2 h-48 w-full"
  >
    <header>
      <h2>Titre</h2>
      <p>Description</p>
    </header>

    <footer class="flex justify-between">
      <p>Auteur</p>
      <p>Date 01/01/2025</p>
    </footer>
  </article>

  <article
    class="flex flex-col justify-between border-2 border-cyan-300 p-2 h-48 w-full"
  >
    <header>
      <h2>Titre</h2>
      <p>Description</p>
    </header>

    <footer class="flex justify-between">
      <p>Auteur</p>
      <p>Date 01/01/2025</p>
    </footer>
  </article>

  <article
    class="flex flex-col justify-between border-2 border-cyan-300 p-2 h-48 w-full"
  >
    <header>
      <h2>Titre</h2>
      <p>Description</p>
    </header>

    <footer class="flex justify-between">
      <p>Auteur</p>
      <p>Date 01/01/2025</p>
    </footer>
  </article>

  <article
    class="flex flex-col justify-between border-2 border-cyan-300 p-2 h-48 w-full"
  >
    <header>
      <h2>Titre</h2>
      <p>Description</p>
    </header>

    <footer class="flex justify-between">
      <p>Auteur</p>
      <p>Date 01/01/2025</p>
    </footer>
  </article>

  <article
    class="flex flex-col justify-between border-2 border-cyan-300 p-2 h-48 w-full"
  >
    <header>
      <h2>Titre</h2>
      <p>Description</p>
    </header>

    <footer class="flex justify-between">
      <p>Auteur</p>
      <p>Date 01/01/2025</p>
    </footer>
  </article>

  <article
    class="flex flex-col justify-between border-2 border-cyan-300 p-2 h-48 w-full"
  >
    <header>
      <h2>Titre</h2>
      <p>Description</p>
    </header>

    <footer class="flex justify-between">
      <p>Auteur</p>
      <p>Date 01/01/2025</p>
    </footer>
  </article>

  <article
    class="flex flex-col justify-between border-2 border-cyan-300 p-2 h-48 w-full"
  >
    <header>
      <h2>Titre</h2>
      <p>Description</p>
    </header>

    <footer class="flex justify-between">
      <p>Auteur</p>
      <p>Date 01/01/2025</p>
    </footer>
  </article>

  <article
    class="flex flex-col justify-between border-2 border-cyan-300 p-2 h-48 w-full"
  >
    <header>
      <h2>Titre</h2>
      <p>Description</p>
    </header>

    <footer class="flex justify-between">
      <p>Auteur</p>
      <p>Date 01/01/2025</p>
    </footer>
  </article>

  <article
    class="flex flex-col justify-between border-2 border-cyan-300 p-2 h-48 w-full"
  >
    <header>
      <h2>Titre</h2>
      <p>Description</p>
    </header>

    <footer class="flex justify-between">
      <p>Auteur</p>
      <p>Date 01/01/2025</p>
    </footer>
  </article>
</main>
{% include 'layout/footer.html.twig' %} {% endblock %}
