{% extends 'base.html.twig' %} 

{% block title %}Accueil - Super Site{% endblock %} 

{% block body %}
<main class="flex items-center justify-center">
    <h2>BIENVENUE SUR NOTRE SITE</h2>
</main>
{% endblock %}
