{% extends 'base.html.twig' %} 

{% block title %}Accueil - Super Site{% endblock %} 

{% block body %}

{% include 'layout/header.html.twig' %}


<main class="flex items-center justify-center">
    <h2>BIENVENUE SUR NOTRE SITE</h2>
</main>
{% include 'layout/footer.html.twig' %} 
{% endblock %}
