{% extends 'base.html.twig' %} 

{% block title %}Connexion - Super Site{% endblock %} 

{% block body %}



<main class="flex items-center justify-center">
  <form
    action=""
    class="flex flex-col justify-center items-center border-2 border-cyan-300 px-12 py-10 gap-4"
  >
    <h2 class="self-start">Se connecter </h2>
    <label for="email" class="flex flex-col"
      >Saisir votre email
      <input
        class="border-2 border-cyan-300"
        type="email"
        id="email"
        name="email"
        required
        aria-required="true"
      />
    </label>
    <label for="password" class="flex flex-col"
      >Saisir votre password
      <input
        class="border-2 border-cyan-300"
        type="password"
        id="password"
        name="password"
        required
        aria-required="true"
      />
    </label>
    <button class="self-end border-2 border-cyan-300 px-3 py-1 my-2">
      Ajouter
    </button>
  </form>
</main>
{% endblock %}
