  <footer class="border-2 border-cyan-300 p-2">
    <ul class="flex justify-around">
      <li>Conditions générales</li>
      <li>Réseaux sociaux</li>
      <li>Informations et contact</li>
    </ul>
  </footer>
</div>