<header class="flex justify-between border-2 border-cyan-300 p-4">
  <h1>Super site</h1>
  <nav>
    <ul class="flex justify-around gap-4">
      <li><a href="/">Home</a></li>
      <li><a href="/articles">Liste articles</a></li>
      <li><a href="/add-article">Ajouter article</a></li>
      <li><a href="/add-account">Inscription</a></li>
      <li><a href="/login">Connexion</a></li>
    </ul>
  </nav>
</header>
