{% for label, messages in app.flashes %}
	{% for message in messages %}
		 <script>
																			 document.querySelectorAll('dialog').forEach(dialog => {dialog.showModal()});
																			</script>
		<dialog class="dialog bg-blue-500 border-2 border-black rounded-md text-center p-2 text-white mt-2">
			{% if label == "success" %}
				<p>Cool !</p>
				<p>L'opération est un succès !</p>
			{% elseif label == "warning" %}
				<p>Hmm...</p>
				<p>Petit souci, mais ça passe...</p>
			{% elseif label == "danger" %}
				<p>Ouch !</p>
				<p>Erreur fatale, système compromis - ciao</p>
			{% endif %}
			<button type="button" class="closeDialog px-2 py-1 bg-green-500 hover:bg-green-400 rounded-md">Fermer</button>
		</dialog>
	{% endfor %}
{% endfor %}

 <script>
 document.querySelectorAll('dialog').forEach(dialog => {
    const closeButton = dialog.querySelector('.closeDialog');
    if (closeButton) {
        closeButton.addEventListener('click', () => {
            dialog.close();
        });
    }
});
</script>
